# Cloudflare API
CF_API_TOKEN=your_token_here
ZONE_ID=your_zone_id
RECORD_ID=your_record_id
DNS_NAME=home.example.com

# Type of IP to use: "public" or "lan"
IP_TYPE=public

# Nếu IP_TYPE=lan, chọn interface LAN
LAN_INTERFACE=enp3s0

# Update interval in seconds
UPDATE_INTERVAL=300

# TTL Cloudflare record
TTL=120
PROXIED=false
